@model List<StudentModel>

<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                名字
            </th>
            <th>
                班级
            </th>
            <th>
                邮箱
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>
                    @student.id
                </td>
                <td>
                    @student.Name
                </td>
                <td>
                    @student.ClassName
                </td>
                <td>
                    @student.Email
                </td>
                <td>
                    <a asp-controller="Student" asp-action="StudentDetail" asp-route-id=@student.id>查看</a>
                    <a asp-controller="Student" asp-action="StudentDetail" asp-route-id=@student.id>编辑</a>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id=@student.id>删除</a>
                </td>
            </tr>
        }

    </tbody>

</table>

